h1 {
  font-size: 55px;
}

.topheader {
  margin-top: 50px;
}

.subtitulo1 {
  margin-top: 20px;
}

.divaviso {
  background-color: #73c2a230; /* Green */
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 106%;
  left: 17%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.divaviso p {
  color: rgb(1, 1, 1);
  background-color: #ffffff50;
  border-radius: 40px;
  padding: 4px;
}

.contenedorflex .boton1 {
  background-color: #b61d69; /* Green */
  width: 200px;
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.contenedorflex .boton2 {
  background-color: #b61d69; /* Green */
  width: 220px;
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.contenedorflex button:hover {
  background-color: rgb(241, 87, 146);
}

.contenedorflex img {
  height: 900px;
  width: 100%;
  border-radius: 15px;
}

.contenedorflex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.titulolanding2{
  margin-top: 40px;
  margin-bottom: 50px;
}

.subtitulolanding2{
  margin-bottom: 70px;
}

.card {
  width: 18rem;
}

.carta {
  height: 262px;
  width: auto;
}

.divcomo{
  margin-top: 50px;
}

.divcomo {
  margin-top: 50px;
}

.titulocomo {
  margin-bottom: 40px;
}

.iconobebe {
  height: 50px;
  width: 50px;
}
.padreimagen {
  width: 800px;
  margin-left: 120px;
}

.hijotarjeta {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 18em;
  padding: 50px 40px 50px -10em;
  background-image: linear-gradient(140deg, #ef3939 0%, #e6c7b7 60%);
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.hijotarjeta button {
  background-color: #b61d69; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
}
.hijotarjeta button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.padretarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.carruseltitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  align-items:center;
  text-align: left;
  background-image: url("https://fondosmil.com/fondo/69573.jpg");
  background-size: cover;
  height: 500px;
  font-weight: bold;
  opacity: 0.8;
}

.carruselfondo{
    background-color: #000000d3;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    margin-top: 200px;
    color: white;
}

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carrusel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}
