.container {
  /* margin-top: 1em;
  margin-left: 6em;
  margin-right: 8em; */
}

.nav {
  text-align: center;
  margin-bottom: 2em;
}

.textImgContainer {
  height: 40em;
  opacity: 1;
}

.imgFlia {
  /* margin-left: 1em; */
  /* margin-right: 1em; */
  width: 100%;
  /* border-radius: 3em; */
  margin-bottom: 10px;
}

.text {
  justify-content: center;
  align-items: center;
  /* opacity: 0.8; */
  height: 59%;
  border: transparent;
  background-color: rgba(27, 173, 173, 0.212);
  /* padding: px;  */
  border-radius: 10em;
  margin-top: 1em;
  font-size: large;
  position: relative;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
}

.title {
  color: rgb(174, 13, 180);
  text-align: center;
  margin: 40px;
}

.textContainer {
  color: rgb(222, 43, 228);
  margin-bottom: 1em;
  height: 8em;
  margin-top: 1em;
}

.titleDescription {
  margin-bottom: -4em;
}

.description {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 1em;
  line-height: 2em;
  font-size: 1.2em;
}

.hr1 {
  color: rgb(13, 110, 253);
}

.boxContainer {
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column-reverse;
  /* margin-top: 1em; */
  /* flex-wrap: nowrap; */
  width: 40em;
  border: transparent;
  /* border-radius: 3em; */
  background-color: rgba(125, 213, 213, 0.123);
}

.loquenosmueve {
  color: rgb(152, 32, 156);
}

.loquenosmuevediv {
  color: rgb(174, 13, 180);
  margin-top: 10px;
  margin-bottom: 10px;
}

.imagevaron {
}

.boxTitle {
  font-size: 2.1em;
  color: rgb(174, 13, 180);
}

.boxSideImg {
  display: flex;
  border: transparent;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 35em;
}

.imgHeart {
  width: 45em;
  height: 25em;
}

.logoList {
  display: flex;
  flex-direction: row;
  border: transparent;
  background-color: #ffffff;
  font-size: 1.1em;
  color: #127697;
  text-decoration: none;
  width: 4em;
  height: 4em;
}

img,
svg {
  width: -webkit-fill-available;
  margin-left: 1em;
  width: 6em;
  margin-right: 0em;
  margin-left: 16px;
  border: transparent;
}

.boxImgText {
  display: flex;
  flex-direction: column;
}

.item1 {
  display: flex;
  padding: 2em;
}

.item2 {
  display: flex;
  padding: 2em;
}

.item3 {
  display: flex;
  padding: 2em;
}

.item4 {
  display: flex;
  padding: 2em;
}

.text1 {
  margin-left: 1em;
}

.text2 {
  margin-left: 1em;
}

.text3 {
  margin-left: 1em;
}

.text4 {
  margin-left: 1em;
  margin-bottom: 1px;
}
.imagenvaron2 {
  display: flex;
}

.img {
  width: 100%;
}

span {
  float: left;
  vertical-align: middle;
}

.padre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 290px;

  margin-left: 2em;
  margin-bottom: 15px;
}

.corazon {
  margin-top: 2em;
  width: 56em;
  height: 56em;
  /* border-radius: 3em; */
  margin-left: 9em;
  border: transparent;
}
