.padretarjetaplan{
  margin-top: 65px;
  display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 height: 300px;
 width: 300px;
 margin-left: 150px;
 background-image: linear-gradient(140deg, #ef3939 0%, #e6c7b7 60%);
 border-radius: 24px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 text-align: center;
}

.hijotarjetaplan button{
  background-color: #b61d69; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 200px;
}
.hijotarjetaplan button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cajaimgtxt{
  margin-top: 6em;
  margin-bottom: 4em;
}

.cuadrotexto{
 background-color: rgb(155, 229, 220);
 height: 300px;
 -webkit-border-radius: 20px;
border-radius: 20px;
margin-left: -50px;
padding-top: 30px;
margin-top:90px ;
border: solid;
}
.imagencuadro{
  height: 500px;
  width: 800px;
  margin-left: -190px;
  
}

.subtitulos{
  color: rgb(174, 13, 180);
}

  

 .imagen {
  width: 20rem;
  height: 20rem;
  border-radius: 9999999999rem;
  border: 20px white solid;
  margin-bottom: 15px;
}

.nombre {
  padding: 15px;
  font-size: 45px;
} 

.detalle {
  font-size: larger;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.precio {
  font-size: larger;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 18px;
  margin-left: 150px;
  width: 50%;
} 

.warning {
  border-radius: 15px;
  background-color: rgba(217, 3, 3, 0.475);
  color: black;
  font-style:italic;
  padding: 2px;
  
}

.warning img {
  height: 40px;
  width: 40px;
  margin: 10px;
}
.planes {
  height: 50px;
  padding: 30px;
}

.planes  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.planes li {
  border: 2px black solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  margin-left: 200px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  width: 850px;
  font-size: large;
}


.padretarjetaplan1{
  
  margin-top: 12em;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 45em;
 width: 35em;
 margin-left: 3em;
 background-image: linear-gradient(140deg, #ef3939 0%, #e6c7b7 60%);
 border-radius: 24px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 text-align: center;
}

.hijotarjetaplan1 button{
  background-color: #cf3a84; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 200px;
}
.hijotarjetaplan1 button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.row1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


