/*NavBar*/
.navbar {
  padding: 2rem;
  background: #f5f6f7;
  margin-bottom: 60px;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  width: 13%;
  height: 84%;
  border: transparent;
}
