/*NavBar*/
.navbar {

  background: #f5f6f7;
  margin-bottom: 60px;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  width: 30%;
  height: 20%;
  border: transparent;
}

.navbar-nav {
  text-align: center;
}

.botton-ingreseaqui {
width: 122px;
}

@media screen and (max-width: 767) {
  .navbar-brand {
    display: none;
  }
}
